<html>
  <head>
    <title>{{ title }}</title>
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
  </head>
  <body>
    <form action="" method="post" name="search">
      <p>
        {{form.date_start.label}}: {{ form.date_start(size=4) }}
        {{form.date_end.label}}: {{ form.date_end(size=4) }}
        <input type="submit" value="Apply">
      </p>
    </form>
    {{ chart.render()|safe }}
  </body>
</html>
